<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <appSettings>
    <add key="Version" value="Compilação 1.0.0.1"/>
    <add key="ConexaoOle" value="Provider=SQLOLEDB; Data Source=LocalHost; Initial Catalog=BD_Aula; User Id=sa; Password=m91231881; Connect Timeout=5000"/>
  </appSettings>

</configuration>
