<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  <authentication mode="Forms">
    <forms loginUrl="Lofin.aspx"
           name="DUL"
           protection="All">
    </forms>
    
  </authentication>
  </system.web>

  <appSettings>
    <add key="Version" value="Compilação 1.0.0.1"/>
    <add key="ConexaoOle" value="Provider=SQLOLEDB;Data Source=LABREDES-0303\SQLEXPRESS;Initial Catalog=BDVendaFJA;User ID=sa;Password=sql1433"/>
  </appSettings>
  
<location path="Cadastrar.aspx">
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
</location>

<location path=".aspx">
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
</location>

</configuration>
