<?xml version="1.0"?>

<!--
pesquisa sobre web config
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <appSettings>
    <add key="Version" value="Compilação 1.0.0.1"/>
    <add key="ConexaoOle" value="Provider=SQLOLEDB;Data Source=LABREDES-0303\SQLEXPRESS;Initial Catalog=BDVendaFJA;User ID=sa;Password=sql1433"/>

  </appSettings>

</configuration>
